body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Ubuntu;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  text-decoration: none;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
a,
button {
  outline: none;
}
a:focus-visible,
button:focus-visible,
summery:focus-visible {
  outline: 2px solid;
  color: #3596ed;
  outline-offset: 1px;
}
button:active {
  background-color: #2f8ada;
}
