body,
p {
  margin: 0px;
}
.container {
  max-width: 1300px;
  margin: auto;
}
.head-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}
footer {
  background-color: rgba(0, 0, 0, 0.185);
}
.img-footer {
  padding-top: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-list {
  margin-top: 30px;
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  gap: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
p {
  text-align: center;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  color: rgb(245, 0, 0);
}
