.header__advertising-background {
  background-color: var(--second-color);
}

.header__advertising-massage {
  position: relative;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
@media (width > 768px) {
  .header__advertising-massage {
    min-height: 38px;
  }
}
@media (width <= 768px) {
  .header__advertising-massage {
    min-height: 34px;
  }
}
.header__advertising-massage-cross {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-color);
  background-color: var(--main-color);
  background: url(../../icons/cross.svg);
}
@media (any-hover: hover) {
  .header__advertising-massage-cross:hover {
    cursor: pointer;
  }
}
.header__advertising-registration {
  font-weight: 500;
  text-decoration: 1px solid underline;
  text-decoration-skip-ink: none;
  color: var(--main-color);
}

@media (width <= 768px) {
  .header__advertising-registration {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
  }
  .header__advertising-title {
    display: none;
  }
}

.menu {
  min-height: 40px;
  background-color: aqua;
}

.close {
  opacity: 0;
  visibility: hidden;
  display: none;
}
