/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.top-models__title-accent {
  color: var(--accent-color);
}
.top-models__products {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}
.top-models__product-title {
  color: var(--main-color);
  text-transform: uppercase;
}

.top-models__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  min-height: 204px;
  color: var(--main-color);
  -webkit-transition: color var(--transition--time);
  -o-transition: color var(--transition--time);
  transition: color var(--transition--time);
}
@media (width <= 567px) {
  .top-models__item-link {
    padding: 30px;
  }
}
@media (width > 567px) {
  .top-models__item-link {
    padding: 20px;
  }
}

@media (any-hover: hover) {
  .top-models__item-link:hover {
    color: var(--accent-color);
  }
}
.top-models__product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
@media (width > 768px) {
  .top-models__product-title {
    max-width: 139px;
  }
}

@media (width <= 480px) {
  .top-models__product-title {
    max-width: 139px;
  }
}
.top-models__product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}
.top-models__item {
  border-radius: 12px;
  border: 2px solid var(--accent-color);
  -webkit-box-shadow:
    0 0 32px 3px var(--accent-glow-color),
    inset 0 0 30px 5px var(--accent-glow-color);
  box-shadow:
    0 0 32px 3px var(--accent-glow-color),
    inset 0 0 30px 5px var(--accent-glow-color);
}

.top-models__product-icon {
  stroke: currentColor;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.top-models__product-title {
  color: currentColor;
}
.top-models__product-img {
  width: 100%;
}

@media (width <= 480px) {
  .top-models__product-img {
    max-width: 156px;
  }
}
